@using CadastroMembros.Domain.Enums;
@model PessoaViewModel

<input type="hidden" asp-for="Id" />

<div class="row mb-3">
    <div class="col-md-6">
        <p class="lead pLabel">Nome: <span>@Model.Nome</span></p>
    </div>
    <div class="col-md-6">
        <p class="lead pLabel">E-mail: <span>@Model.Email</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">CPF: <span>@Model.Cpf</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Sexo: <span>@Model.Sexo</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Estado Civil: <span>@Model.EstadoCivil (a)</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Data de Nascimento: <span>@Model.DataNascimento</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Empresa: <span>@Model.OndeTrabalha</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Cargo: <span>@Model.Cargo</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">País: <span>@Model.Pais</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Estado: <span>@Model.Estado</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Cidade: <span>@Model.Cidade</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">CEP: <span>@Model.Cep</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Logradouro: <span>@Model.Logradouro</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">N°: <span>@Model.Numero</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Complemento: <span>@Model.Complemento</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Bairro: <span>@Model.Bairro</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">(21) <span>@Model.Telefone</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Vínculo: <span>@Model.Vinculo</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Ministério: <span>@Model.Ministerio</span></p>
    </div>
    <div class="form-group col-md-4">
        <p class="lead pLabel">Data de cadastro: <span>@Model.DataCadastro</span></p>
    </div>
    <div class="form-group">
        @if(Model.Ativo == true)
        {
            <p class="lead">Ativo: <span class="text-success">Sim</span></p>
        }
        else
        {
            <p class="lead">Ativo: <span class="text-danger">Não</span></p>
        }
    </div>
</div>

<div class="d-grid gap-2 mt-5">
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>

@* <form asp-controller="Pessoas" asp-action="ExibirDados" method="get">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cpf" class="control-label"></label>
        <input asp-for="Cpf" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sexo" class="control-label"></label>
        <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<Sexo>()" class="form-control">
            <option value="">Selecione o sexo</option>
        </select>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstadoCivil" class="control-label"></label>
        <select asp-for="EstadoCivil" asp-items="Html.GetEnumSelectList<EstadoCivil>()" class="form-control">
            <option value="">Selecione o estado civil</option>
        </select>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento" class="control-label"></label>
        <input type="date" asp-for="DataNascimento" class="form-control" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OndeTrabalha" class="control-label"></label>
        <input asp-for="OndeTrabalha" class="form-control" />
        <span asp-validation-for="OndeTrabalha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cargo" class="control-label"></label>
        <input asp-for="Cargo" class="form-control" />
        <span asp-validation-for="Cargo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pais" class="control-label"></label>
        <input asp-for="Pais" class="form-control" />
        <span asp-validation-for="Pais" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado" class="control-label"></label>
        <input asp-for="Estado" class="form-control" />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cidade" class="control-label"></label>
        <input asp-for="Cidade" class="form-control" />
        <span asp-validation-for="Cidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cep" class="control-label"></label>
        <input asp-for="Cep" class="form-control" />
        <span asp-validation-for="Cep" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logradouro" class="control-label"></label>
        <input asp-for="Logradouro" class="form-control" />
        <span asp-validation-for="Logradouro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Numero" class="control-label"></label>
        <input type="number" min="0" asp-for="Numero" class="form-control" />
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Complemento" class="control-label"></label>
        <input asp-for="Complemento" class="form-control" />
        <span asp-validation-for="Complemento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bairro" class="control-label"></label>
        <input asp-for="Bairro" class="form-control" />
        <span asp-validation-for="Bairro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone" class="control-label"></label>
        <input asp-for="Telefone" class="form-control" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vinculo" class="control-label"></label>
        <select asp-for="Vinculo" asp-items="Html.GetEnumSelectList<Vinculo>()" class="form-control">
            <option value="">Selecione o vinculo</option>
        </select>
        <span asp-validation-for="Vinculo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ministerio" class="control-label"></label>
        <input asp-for="Ministerio" class="form-control" />
        <span asp-validation-for="Ministerio" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
        </label>
    </div>
    <br />
    <br />
    <div class="d-grid gap-2">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </div>
</form> *@